<html>
<head>
    <title>Bem vindo ao site</title>
</head>
<body>
    <h1></h1>
    <h1>Bem vindo!</h1>
    <h3>Estamos estutando aplicações .NET CORE C#</h3>
    <h3>Para aplicações em Engenharia Civil</h3>
    <footer>
        Todos os direitos reservados &copy; 2012 - @DateTime.Now.Year
    </footer>
</body>
</html>